body {
  /* overflow: hidden; */
}

hr {
  width: 50px;
  border-color: transparent;
  border-right-color: rgba(255, 255, 255, 0.7);
  border-right-width: 50px;
  position: absolute;
  bottom: 100%;
  transform-origin: 100% 50%;
  animation-name: rain;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 99999;
}

#thebackground {
  background-image: url('http://localhost:8074/adbang/public/template-login/images/bg03.png');
}

@keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  }

  to {
    transform: rotate(105deg) translateX(calc(100vh + 20px));
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow: visible;
  }

  hr {
    visibility: hidden;
    clear: both;
    display: none;
  }
}
